<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="flex-1 bg-white p-6 rounded-2xl shadow-lg w-full max-w-md max-h-[80vh] flex flex-col">
        <h2 class="text-xl text-center font-semibold mb-4">Monthly Income</h2>

        <div [ngSwitch]="modalMode" class="overflow-y-auto flex-grow space-y-4 pr-1">
            <ng-container *ngSwitchCase="'view'">
                <app-view-transactions />
            </ng-container>

            <ng-container *ngSwitchCase="'add'">
                <app-transaction-form />
            </ng-container>
        </div>

        <app-add-transaction-button (click)="modalMode = 'add'" *ngIf="modalMode === 'view'" />

        <div [ngSwitch]="modalMode" class="flex justify-center space-x-2 pt-4">
            <ng-container *ngSwitchCase="'view'">
                <button type="button" (click)="onClose()" class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300">
                    Cancel
                </button>
                <button type="submit" [disabled]="transactionList.length < 1" [ngClass]="{
                    'bg-blue-300 ': transactionList.length < 1, 
                    'bg-blue-600 hover:bg-blue-700': transactionList.length >= 1
                    }" class="px-4 py-2  text-white rounded-lg ">
                    Next
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'add'">
                <button type="button" (click)="modalMode = 'view'"
                    class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300">
                    Back
                </button>
                <button type="submit" [disabled]="transactionList.length < 1" [ngClass]="{
                    'bg-blue-300 ': transactionList.length < 1, 
                    'bg-blue-600 hover:bg-blue-700': transactionList.length >= 1
                    }" class="px-4 py-2  text-white rounded-lg ">
                    Next
                </button>
            </ng-container>
        </div>
    </div>
</div>