<section class="min-h-[80vh] box-border bg-white flex items-center justify-center p-8">
  <div class="relative grid grid-cols-1 md:grid-cols-2 gap-8 h-full w-full max-w-6xl place-items-center">
    <div class="flex flex-col items-center md:items-start gap-6">
      <h1
        class="text-4xl md:text-5xl font-bold text-gray-900 mb-2 text-center md:text-left tracking-tight leading-tight">
        Personal Expense Tracker
      </h1>
      <p class="text-lg md:text-xl text-gray-600 mb-4 text-center md:text-left max-w-md">
        Control your expenses, save more and reach your financial goals easily.
      </p>

      <button (click)="modalOpen = true"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-3 rounded-lg shadow transition duration-150 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Start now
      </button>

    </div>
    <div class="hidden md:flex justify-center">
      <svg width="250" height="250" viewBox="0 0 220 220" fill="none" xmlns="http://www.w3.org/2000/svg">

        <rect x="20" y="60" width="180" height="120" rx="20" class="fill-white stroke-blue-200" stroke-width="4" />

        <rect x="50" y="100" width="30" height="60" rx="6" class="fill-blue-400" />
        <rect x="95" y="80" width="30" height="80" rx="6" class="fill-blue-200" />
        <rect x="140" y="120" width="30" height="40" rx="6" class="fill-blue-400" />

        <circle cx="110" cy="90" r="14" class="fill-blue-600 stroke-blue-600" stroke-width="2" />
        <text x="110" y="95" text-anchor="middle" class="fill-white" font-size="14" font-family="Arial">$</text>
      </svg>
    </div>
  </div>
</section>

<app-modal *ngIf="modalOpen" (close)="modalOpen = false" />