<section class="max-w-md mx-auto mt-6 px-4">

    <div class="border border-blue-600 rounded-lg flex overflow-hidden mb-6">
        <div class="w-1/2 text-center py-2 font-semibold cursor-pointer" (click)="formType = 'income'"
            [ngClass]="{'bg-blue-600 text-white': formType === 'income', 'text-blue-600 bg-white' : formType === 'expense'}">
            Income
        </div>
        <div class="w-1/2 text-center py-2 font-semibold cursor-pointer" (click)="formType = 'expense'"
            [ngClass]="{'bg-blue-600 text-white': formType === 'expense', 'text-blue-600 bg-white' : formType === 'income'}">
            Expense
        </div>
    </div>

    <form [formGroup]="validForm" (ngSubmit)="onSubmit()" class=" space-y-4">
        <input type="hidden" formControlName="type" [value]="formType" />

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Title</label>
            <input type="text" formControlName="title"
                class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" />
        </div>

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Amount</label>
            <input type="number" formControlName="amount" step="0.01"
                class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" />
        </div>

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Category</label>
            <select *ngIf="formType === 'income'" formControlName="category"
                class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
                <option class="capitalize" *ngFor="let c of incomeCatList" [value]="c">{{ c }}</option>
            </select>
            <select *ngIf="formType === 'expense'" formControlName="category"
                class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
                <option class="capitalize" *ngFor="let c of expenseCatlist" [value]="c">{{ c }}</option>
            </select>
        </div>

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Date</label>
            <input type="date" formControlName="date"
                class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" />
        </div>

        <div class="flex justify-center space-x-2 pt-4">
            <button type="button" (click)="onBack()" class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300">
                Back
            </button>
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg ">
                Save
            </button>
        </div>
    </form>
</section>