<div class="flex justify-end right mt-5">
  <!-- LOADING SESSION -->
  <div *ngIf="loading"
    class="flex items-center justify-center px-6 py-2 mr-10 bg-blue-600 text-white rounded-xl shadow-md">
    <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
      </path>
    </svg>
  </div>

  <!-- LOGIN -->
  <button *ngIf="!loading && !isLoggedIn" class="bg-blue-600 text-white font-semibold border border-transparent rounded-xl px-6 py-2 mr-10
           shadow-md transition-all duration-300 ease-in-out
           hover:bg-white hover:text-blue-600 hover:border-blue-600 hover:shadow-lg hover:scale-105 active:scale-95"
    (click)="login()">
    Login
  </button>

  <!-- LOGOUT -->
  <button *ngIf="!loading && isLoggedIn" class="bg-blue-600 text-white font-semibold border border-transparent rounded-xl px-6 py-2 mr-10
           shadow-md transition-all duration-300 ease-in-out
           hover:bg-red-600 hover:text-white hover:border-red-600 hover:shadow-lg hover:scale-105 active:scale-95"
    (click)="logout()">
    Logout
  </button>
</div>



<div class="max-w-7xl w-full mx-auto">
  <div>
    <app-header-info-dashboard [filteredTransactions]="transactionsListFiltered" />
  </div>
  <div class="flex mt-6 justify-center">
    <app-add-transaction-button class="pr-4" (action)="openModal('view')" text="Manage Transactions" [svg]="'manage'" />
    <app-add-transaction-button (action)="openModal('add')" />
  </div>
  <div class="mt-6">
    <app-filters (filtersChange)="onFiltersChange($event)"></app-filters>
  </div>
  <div class="flex flex-col justify-center overflow-y-auto">
    <app-accordion-transaction *ngFor="let transaction of transactionsListFiltered"
      [transaction]="transaction"></app-accordion-transaction>
  </div>
  <div class="my-6">
    <app-modal [show]="modalService.isOpen$ | async" [defaultView]="currentModalView" (close)="closeModal()"
      (next)="closeModal()" />
  </div>
</div>