<div class="max-w-7xl w-full mx-auto">
  <div>
    <app-header-info-dashboard></app-header-info-dashboard>
  </div>
  <div class="mt-6">
    <app-filters
      (selectedTypeChange)="filterByType($event)"
      (selectedCategoryChange)="filterByCategory($event)"
      (selectedDateChange)="filterByDate($event)"
      (selectedAmountChange)="filterByAmount($event)"
      (selectedSearchChange)="filterByTitle($event)"
    ></app-filters>
  </div>
  <div class="flex flex-col justify-center overflow-y-auto">
    <app-accordion-transaction
      *ngFor="let transaction of transactionsListFiltered"
      [transaction]="transaction"
    ></app-accordion-transaction>
  </div>
  <div class="mt-6">
    <app-add-transaction-button (click)="modalOpen = true"></app-add-transaction-button>
    <app-modal-form *ngIf="modalOpen" (close)="modalOpen = false" />
  </div>
</div>
