<div class="max-w-7xl w-full mx-auto">
  <div>
    <app-header-info-dashboard [filteredTransactions]="transactionsListFiltered" />
  </div>
  <div class="flex mt-6 justify-center">
    <app-add-transaction-button class="pr-4" (action)="openModal('view')" text="Manage Transactions" [svg]="'manage'" />
    <app-add-transaction-button (action)="openModal('add')" />
  </div>
  <div class="mt-6">
    <app-filters (filtersChange)="onFiltersChange($event)"></app-filters>
  </div>
  <div class="flex flex-col justify-center overflow-y-auto">
    <app-accordion-transaction *ngFor="let transaction of transactionsListFiltered"
      [transaction]="transaction"></app-accordion-transaction>
  </div>
  <div class="my-6">
    <app-modal [show]="modalService.isOpen$ | async" [defaultView]="currentModalView" (close)="closeModal()"
      (next)="closeModal()" />
  </div>
</div>